
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script>
        var LoginMsg = '@ViewBag.LoginMsg';
        if (LoginMsg != "")
        alert(LoginMsg)
                
    </script>
</head>
<body>
    <div> 
        @using(Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <div style="width:400px; height: 500px; border: 1px solid #0094ff; position:absolute; top: 0px; bottom: 0px; right: 0px; left: 0px; margin:auto;">
                    <div class="content">
                        <div class="row" style="padding:5px 0px;">
                            <div class="col col-sm-12">
                                <h2 style="text-align:center;">Login</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-2">
                            </div>
                            <div class="col col-sm-8">
                                UserName:
                            </div>
                            <div class="col col-sm-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-2">
                            </div>
                            <div class="col col-sm-8">
                                <input type="text" name="txtUserName" style="width:100%; max-width: 100% !important;" />
                            </div>
                            <div class="col col-sm-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-2">
                            </div>
                            <div class="col col-sm-8">
                                Password:
                            </div>
                            <div class="col col-sm-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-2">
                            </div>
                            <div class="col col-sm-8">
                                <input type="text" name="txtPassword" style="width: 100%; max-width: 100% !important;" />
                            </div>
                            <div class="col col-sm-2">
                            </div>
                        </div>

                        <div class="row" style="padding: 5px 0px;">
                            <div class="col col-sm-2">
                            </div>
                            <div class="col col-sm-8">
                                <input type="submit" id="btnLogin" value="Login" name="btnSubmit" style="width:100%; max-width: 100% " />
                                <input type="submit" id="btnReset" value="Reset" name="btnSubmit" style="width:100%; max-width: 100% " />
                                <input type="submit" id="btnForgetPassword" value="Forget Password" name="btnSubmit" style="width:100%; max-width: 100% " />
                            </div>
                            <div class="col col-sm-2">
                            </div>
                        </div>
                    </div>
                </div>
            }        

    </div>
</body>
</html>
