
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login2</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form action="index.html" class="form-login text-center">
            <h2>User Login</h2>
            <input type="email" placeholder="Enter Your Email Address"
                   class="form-control mb-3" required>
            <input type="password" placeholder="Enter Your Password"
                   class="form-control mb-3" required>
            <div class="checkbox mb-3 d-flex justify-content-between">
                <label for="">
                    <input class="" type="checkbox"> Remember Me
                </label>
            </div>
            <button class="btn btn-primary w-100" type="submit">Login</button>
        </form>
    </div>

    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/app.js"></script>

</body>
</html>
